canvas{
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  touch-action: manipulation;
}
body{
  background-color: lightyellow;
}
div.start{
  font-size: 45px;
  color: white;
  font-family: flappy_bird;
  font-weight: bold;
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: #3d647f;
  text-align: center;
}
@font-face {
  font-family: flappy_bird;
  src: url("flappybird/FlappyBirdy.ttf");
}
